<%- include('header.ejs') %>
    <%- include('navbar.ejs') %>
    <main>
        <section id="">
            <h1>Esta es mi app: <%= appName %></h1>
            <p>¡Soy la plantilla de home!</p>
            <p>Este es un parámetro que he pasado: <%= param %></p>
        </section>
    </main>
<%- include('footer.ejs') %>
