<%- include('header.ejs') %>
    <%- include('navbar.ejs') %>
        <main id="product">
            <section>
                <h1><%= productName %></h1>
                <div class="product container">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="<%= productImage %>" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%= productName %></h5>
                                    <p class="card-text"><%=productDescription %></p>
                                    <p><%= productPrice %>€</p>
                                    <p><%= productTags %></p>
                                    <!-- <p><%= productOwner %></p> -->
                                    <p class="card-text">
                                        <small class="text-body-secondary">Last updated 3 mins ago</small> <!-- TODO: fecha real -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
<%- include('footer.ejs') %>